<nav class="site-nav">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="nav-logo">Julius <span>Wolf</span></a>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/#about">About</a></li>
      <li><a href="{{ site.baseurl }}/#experience">Experience</a></li>
      <li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
      <li><a href="{{ site.baseurl }}/#education">Education</a></li>
      <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
